:root {
  --white: #FFFFFF;
  --sky-1: #f6f7fb;
  --sky-2: #dddde7;
  --sky-3: #d1d5e2;
  --sky-4: #aebad3;
  --navy: #010035;
  --text-light: #848796;
  --text-dark: #545461;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--sky-4);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sky-1);
  color: var(--text-dark);
  border: .1vmin solid var(--sky-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--sky-1);
  border: .1vmin solid var(--sky-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--navy);
  text-align: center;
}
.form-group {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  color: var(--navy);
  display: flex;
  margin: auto;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--sky-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

.form-btn {
  width: 100%;
  align-self: center;
  grid-column-end: span col2-start;
}

input:focus {
  border-color: var(--navy);
}

button, a.button {
  margin: 5px;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--navy);
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--sky-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  grid-column: span 2;
  margin: 1vmin 0 0;
  align-self: center;
}


button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--sky-4);
}



.TrollListPage-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
}

.TrollListItem-action-panel {
  display: flex;
  padding: 3px;
  align-content: center;
}

.TrollListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--sky-1);
  border-radius: 4px;
  width: 100%;
}

.panel {
  justify-self: center;
  padding: 5px;
}

.panel-footer {
  justify-content: center;
}